.control {
    width: 300px;
    /*height: 100px;*/
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.settings {
    width: 300px;
    /*height: 300px;*/
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}