.result {
    width: 400px;
    height: 400px;
    background-color: #22bba7;
    border-radius: 15px;
    margin: 40px;
}

.text {
    display: block;
    text-align: center;
    font-size: 120px;
    font-weight: 600;
    margin-top: 50px;
    color: #282c34;
}

.red {
    color: red;
}

.error {
    display: block;
    color: red;
    font-size: 40px;
    font-weight: 600;
    margin-top: 90px;
}

.settings {
    display: block;
    color: #282c34;
    font-size: 50px;
    font-weight: 600;
    margin-top: 90px;
}