.control {
    width: 400px;
    height: 200px;
    border: 4px solid #22bba7;
    border-radius: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
